# Node modules
frontend/node_modules/
backend/node_modules/

# dotenv files
frontend/.env
backend/.env

# Logs
*.log

# Ignore virtual environments
venv/
.env/
__pycache__/

# Ignore large binary files
*.dll
*.lib
*.pyd

